#mostrarProductos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}


.enCarrito{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    
}

.nombreProducto{
    font-size: 15px;
}
.precioProducto{
    font-size: 15px;
    margin-top: -10px;
}
.cantidadProducto{
    font-size: 15px;
    margin-top: -10px;
}


.imagenCarrito{
    width: 60px;
    height: 60px;
}

button a{
  text-decoration: none;
  color: white;  
}
button a:hover{
    text-decoration: none;
    color: white;
}

#contador{
    margin-top: 18px;
}

.logo{
    margin: 10px;
}

#cart{
    margin-right: 10px;
    margin-top: -10px;
}

.navbar{
    height: 70px;
}


#total{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}
#total button{
    margin-left: 20px;
    margin-bottom: 10px;
    
}

#verCarrito{
margin: 0;
padding: 0;
background: #fff;
border: 1px solid #e1e1e1;
width: 30%;
height: auto;
position: absolute;
top: 12%;
left: 68%;
display: none;
}

#contenedor{
    display: flex;
    align-items: center;
    text-align: center;
}

.titulo{
    font-size: 20px;
}

.linea{
    margin-top: -5px;
}

.precioFinal{
    margin-top: 10px;
}
#carritoVacio{
    text-align: center;
    font-weight: bold;

}

@media screen and (max-width: 800px) {
    #verCarrito{
        width: 100%;
        left: 0;
        }   
}
@media only screen and (min-width: 800px) and (max-width: 1200px){
    #verCarrito{
        width: 40%;
        left: 60%;
        }
        
    
}


